<p>home-pages works!</p>
<marquee><h1><b><i>KERALA TOURISM  WEBSITE</i></b></h1></marquee>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn1.tripoto.com/media/filter/nxxl/img/1429685/Image/1579869548_15_2.jpg" class="d-block w-100" alt="...">
      </div>
     <!-- <div class="carousel-item">
        <img src="https://www.akshartours.com/crm/uploads/itinerary/1587639710maxresdefaultjpg.jpg" class="d-block w-100" alt="...">
      </div>-->
     <!--- <div class="carousel-item">
        <img src="https://www.akshartours.com/crm/uploads/itinerary/1587639710maxresdefaultjpg.jpg" class="d-block w-100" alt="...">
      </div>-->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">  
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p>  <b>    Kerala, a state situated on the tropical Malabar Coast of southwestern India, is one of the most popular tourist destinations in the country. Named as one of the ten paradises of the world by National Geographic Traveler,[1] Kerala is famous especially for its ecotourism initiatives and beautiful backwaters.[2] Its unique culture and traditions, coupled with its varied demography, have made Kerala one of the most popular tourist destinations in the world. Several international agencies ranging from UNESCO to National Geographic have recognised the state's tourism potential.[3] Kerala was named by TIME magazine in 2022 among the 50 extraordinary destinations to explore in its list of the World’s Greatest Places.[4] In 2023, Kerala was listed at the 13th spot in The New York Times' annual list of places to visit and was the only tourist destination listed from India.[5] </b></p>
 <br>